In [3]:
# Python black formater for notebook
%load_ext nb_black

# ETL
We are going to extract multiple data sources from the Dataset folder (csv & json), clean and transform those files into csv format to integrate and process into a Postgrestql database.

In [4]:
# Importing modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
import os
import glob
import sqlite3

## circuits.csv

In [5]:
circuits_df = pd.read_csv("Datasets/circuits.csv")

In [6]:
circuits_df.sample(10)

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
44,45,jarama,Jarama,Madrid,Spain,40.6171,-3.585580,609,http://en.wikipedia.org/wiki/Circuito_Permanen...
59,60,riverside,Riverside International Raceway,California,USA,33.9370,-117.273000,470,http://en.wikipedia.org/wiki/Riverside_Interna...
76,77,jeddah,Jeddah Street Circuit,Jeddah,Saudi Arabia,21.5433,39.172800,15,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.5700,2.261110,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
71,72,port_imperial,Port Imperial Street Circuit,New Jersey,USA,40.7769,-74.011100,4,http://en.wikipedia.org/wiki/Port_Imperial_Str...
75,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.9975,11.371900,255,http://en.wikipedia.org/wiki/Mugello_Circuit
74,75,portimao,Autódromo Internacional do Algarve,Portimão,Portugal,37.2270,-8.626700,108,http://en.wikipedia.org/wiki/Algarve_Internati...
37,38,brands_hatch,Brands Hatch,Kent,UK,51.3569,0.263056,145,http://en.wikipedia.org/wiki/Brands_Hatch
5,6,monaco,Circuit de Monaco,Monte-Carlo,Monaco,43.7347,7.420560,7,http://en.wikipedia.org/wiki/Circuit_de_Monaco
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968000,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...

In [7]:
circuits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     int64
 1   circuitRef  77 non-null     object
 2   name        77 non-null     object
 3   location    77 non-null     object
 4   country     77 non-null     object
 5   lat         77 non-null     float64
 6   lng         77 non-null     float64
 7   alt         77 non-null     int64
 8   url         77 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 5.5+ KB

In [8]:
circuits_df.isnull().sum()

circuitId     0
circuitRef    0
name          0
location      0
country       0
lat           0
lng           0
alt           0
url           0
dtype: int64

In [9]:
circuits_df.to_csv("Datawarehouse/circuits.csv", index=False)

## constructors.json

In [10]:
constructors_df = pd.read_json("Datasets/constructors.json", lines=True)

In [11]:
constructors_df.sample(10)

,constructorId,constructorRef,name,nationality,url
76,78,amon,Amon,New Zealand,http://en.wikipedia.org/wiki/Amon_(Formula_One...
24,25,tyrrell,Tyrrell,British,http://en.wikipedia.org/wiki/Tyrrell_Racing
31,32,team_lotus,Team Lotus,British,http://en.wikipedia.org/wiki/Team_Lotus
147,149,sherman,Sherman,American,http://en.wikipedia.org/wiki/Sherman_(construc...
92,94,brp,BRP,British,http://en.wikipedia.org/wiki/British_Racing_Pa...
140,142,turner,Turner,American,http://en.wikipedia.org/wiki/Turner_(constructor)
25,26,lola,Lola,British,http://en.wikipedia.org/wiki/MasterCard_Lola
132,134,schroeder,Schroeder,American,http://en.wikipedia.org/wiki/Schroeder_(constr...
89,91,shannon,Shannon,British,http://en.wikipedia.org/wiki/Shannon_(Formula_...
206,209,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport

In [12]:
constructors_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   constructorId   211 non-null    int64
 1   constructorRef  211 non-null    object
 2   name            211 non-null    object
 3   nationality     211 non-null    object
 4   url             211 non-null    object
dtypes: int64(1), object(4)
memory usage: 8.4+ KB

In [13]:
constructors_df.isnull().sum()

constructorId     0
constructorRef    0
name              0
nationality       0
url               0
dtype: int64

In [14]:
constructors_df.to_csv("Datawarehouse/constructors.csv", index=False)

## drivers.json

In [15]:
with open("Datasets/drivers.json") as json_file:
    drivers_data = [json.loads(line) for line in json_file]

drivers_df = pd.json_normalize(drivers_data, sep="_")

In [16]:
drivers_df["number"].replace("\\N", np.NaN, inplace=True)

In [17]:
drivers_df["code"].replace("\\N", np.NaN, inplace=True)

In [18]:
drivers_df.sample(10)

,driverId,driverRef,number,code,dob,nationality,url,name_forename,name_surname
814,815,perez,11.0,PER,1990-01-26,Mexican,http://en.wikipedia.org/wiki/Sergio_P%C3%A9rez,Sergio,Pérez
664,664,mcalpine,NaN,NaN,1920-09-21,British,http://en.wikipedia.org/wiki/Kenneth_McAlpine,Kenneth,McAlpine
547,547,gould,NaN,NaN,1918-09-20,British,http://en.wikipedia.org/wiki/Horace_Gould,Horace,Gould
608,608,castellotti,NaN,NaN,1930-10-10,Italian,http://en.wikipedia.org/wiki/Eugenio_Castellotti,Eugenio,Castellotti
339,340,love,NaN,NaN,1924-12-07,Rhodesian,http://en.wikipedia.org/wiki/John_Love_(racing...,John,Love
154,155,kobayashi,10.0,KOB,1986-09-13,Japanese,http://en.wikipedia.org/wiki/Kamui_Kobayashi,Kamui,Kobayashi
62,63,salo,NaN,NaN,1966-11-30,Finnish,http://en.wikipedia.org/wiki/Mika_Salo,Mika,Salo
357,358,rindt,NaN,NaN,1942-04-18,Austrian,http://en.wikipedia.org/wiki/Jochen_Rindt,Jochen,Rindt
158,159,sala,NaN,NaN,1959-05-15,Spanish,http://en.wikipedia.org/wiki/Luis_Perez-Sala,Luis,Pérez-Sala
802,802,serafini,NaN,NaN,1909-07-22,Italian,http://en.wikipedia.org/wiki/Dorino_Serafini,Dorino,Serafini

In [19]:
drivers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 853 entries, 0 to 852
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   driverId       853 non-null    int64
 1   driverRef      853 non-null    object
 2   number         47 non-null     float64
 3   code           96 non-null     object
 4   dob            853 non-null    object
 5   nationality    853 non-null    object
 6   url            853 non-null    object
 7   name_forename  853 non-null    object
 8   name_surname   853 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 60.1+ KB

In [20]:
drivers_df.isnull().sum()

driverId           0
driverRef          0
number           806
code             757
dob                0
nationality        0
url                0
name_forename      0
name_surname       0
dtype: int64

In [21]:
drivers_df.to_csv("Datawarehouse/drivers.csv", index=False)

## pit_stops.json

In [22]:
pit_stops_df = pd.read_json("Datasets/pit_stops.json")

In [23]:
pit_stops_df.sample(10)

      raceId  driverId  stop  lap      time duration  milliseconds
858      855         4     1   10  15:20:34   21.147         21147
6844    1011       826     2   38  19:16:45   30.761         30761
3498     911        16     2   21  14:45:40   23.779         23779
7494    1032       830     2   68  16:32:33   21.091         21091
7637    1036       822     3   64  16:42:47   22.607         22607
2447     886       820     1   38  14:55:52   21.374         21374
4119     934       828     4   42  14:18:36   30.197         30197
7539    1033         1     3   66  16:43:33   22.426         22426
2557     888        17     2   23  14:44:15   19.991         19991
5358     964       815     1   12  14:23:45   23.605         23605

In [24]:
pit_stops_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8030 entries, 0 to 8029
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceId        8030 non-null   int64
 1   driverId      8030 non-null   int64
 2   stop          8030 non-null   int64
 3   lap           8030 non-null   int64
 4   time          8030 non-null   object
 5   duration      8030 non-null   object
 6   milliseconds  8030 non-null   int64
dtypes: int64(5), object(2)
memory usage: 439.3+ KB

In [25]:
pit_stops_df["duration"] = pd.to_timedelta(
    pit_stops_df["milliseconds"],
    unit="ms",
)

In [26]:
pit_stops_df.sample(5)

,raceId,driverId,stop,lap,time,duration,milliseconds
2648,891,824,1,14,14:32:07,0 days 00:00:24.083000,24083
2462,886,814,1,56,15:18:16,0 days 00:00:21.066000,21066
160,843,815,3,48,16:28:01,0 days 00:00:13.900000,13900
3138,902,20,2,34,19:02:35,0 days 00:00:26.186000,26186
686,851,5,5,52,15:28:12,0 days 00:00:21.715000,21715

In [27]:
pit_stops_df.to_csv("Datawarehouse/pit_stops.csv", index=False)

## races.csv

In [28]:
races_df = pd.read_csv("Datasets/races.csv")

In [29]:
races_df.sample(5)

,raceId,year,round,circuitId,name,date,time,url
775,776,1957,1,25,Argentine Grand Prix,1957-01-13,\N,http://en.wikipedia.org/wiki/1957_Argentine_Gr...
802,803,1954,5,9,British Grand Prix,1954-07-17,\N,http://en.wikipedia.org/wiki/1954_British_Gran...
479,480,1982,14,41,Swiss Grand Prix,1982-08-29,\N,http://en.wikipedia.org/wiki/1982_Swiss_Grand_...
840,842,2011,2,2,Malaysian Grand Prix,2011-04-10,08:00:00,http://en.wikipedia.org/wiki/2011_Malaysian_Gr...
816,817,1952,1,66,Swiss Grand Prix,1952-05-18,\N,http://en.wikipedia.org/wiki/1952_Swiss_Grand_...

In [30]:
races_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058 entries, 0 to 1057
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   raceId     1058 non-null   int64
 1   year       1058 non-null   int64
 2   round      1058 non-null   int64
 3   circuitId  1058 non-null   int64
 4   name       1058 non-null   object
 5   date       1058 non-null   object
 6   time       1058 non-null   object
 7   url        1058 non-null   object
dtypes: int64(4), object(4)
memory usage: 66.2+ KB

In [31]:
races_df.isnull().sum()

raceId       0
year         0
round        0
circuitId    0
name         0
date         0
time         0
url          0
dtype: int64

In [32]:
races_df["time"].replace("\\N", np.NaN, inplace=True)

In [33]:
races_df.sample(5)

,raceId,year,round,circuitId,name,date,time,url
455,456,1983,5,6,Monaco Grand Prix,1983-05-15,NaN,http://en.wikipedia.org/wiki/1983_Monaco_Grand...
81,82,2005,12,10,German Grand Prix,2005-07-24,14:00:00,http://en.wikipedia.org/wiki/2005_German_Grand...
920,928,2015,3,17,Chinese Grand Prix,2015-04-12,06:00:00,http://en.wikipedia.org/wiki/2015_Chinese_Gran...
879,881,2013,2,2,Malaysian Grand Prix,2013-03-24,08:00:00,http://en.wikipedia.org/wiki/2013_Malaysian_Gr...
630,631,1972,12,46,United States Grand Prix,1972-10-08,NaN,http://en.wikipedia.org/wiki/1972_United_State...

In [34]:
races_df.to_csv("Datawarehouse/races.csv", index=False)

## results.json

In [35]:
with open("Datasets/results.json") as json_file:
    results_data = [json.loads(line) for line in json_file]

results_df = pd.json_normalize(results_data)

In [36]:
results_df.sample(5)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
19087,19088,793,647,132,26,2,\N,R,11,0.0,80,\N,\N,\N,\N,\N,\N,3
6743,6744,312,142,42,31,0,\N,F,34,0.0,0,\N,\N,\N,\N,\N,\N,97
6982,6983,320,137,22,20,5,4,4,4,1.5,14,+30.103,1505002,\N,\N,\N,\N,1
379,380,36,11,8,22,10,12,12,12,0.0,57,\N,\N,20,18,1:28.487,215.746,11
1315,1316,80,8,1,9,13,2,2,2,8.0,70,+11.8,5494032,25,1,1:16.423,207.785,1

In [37]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24960 entries, 0 to 24959
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         24960 non-null  int64
 1   raceId           24960 non-null  int64
 2   driverId         24960 non-null  int64
 3   constructorId    24960 non-null  int64
 4   number           24960 non-null  object
 5   grid             24960 non-null  int64
 6   position         24960 non-null  object
 7   positionText     24960 non-null  object
 8   positionOrder    24960 non-null  int64
 9   points           24960 non-null  float64
 10  laps             24960 non-null  int64
 11  time             24960 non-null  object
 12  milliseconds     24960 non-null  object
 13  fastestLap       24960 non-null  object
 14  rank             24960 non-null  object
 15  fastestLapTime   24960 non-null  object
 16  fastestLapSpeed  24960 non-null  object
 17  statusId         24960 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.4+ MB

In [38]:
results_df[:].replace("\\N", np.NaN, inplace=True)

In [39]:
results_df.sample(5)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
17040,17041,701,364,183,15,5,10,10,10,0.0,30,NaN,NaN,NaN,NaN,NaN,NaN,12
21241,21244,860,813,3,18,8,13,13,13,0.0,57,NaN,NaN,53,5,1:30.254,211.523,3
4669,4670,237,79,25,18,16,10,10,10,0.0,51,NaN,NaN,NaN,NaN,NaN,NaN,12
24623,24629,1031,1,131,44,5,4,4,4,12.0,71,+5.689,5461428,67,3,1:07.712,229.572,1
4797,4798,242,30,22,1,1,NaN,R,26,0.0,10,NaN,NaN,NaN,NaN,NaN,NaN,20

In [40]:
results_df.isnull().sum()

resultId               0
raceId                 0
driverId               0
constructorId          0
number                 6
grid                   0
position           10735
positionText           0
positionOrder          0
points                 0
laps                   0
time               18368
milliseconds       18369
fastestLap         18410
rank               18249
fastestLapTime     18410
fastestLapSpeed    18410
statusId               0
dtype: int64

In [41]:
results_df.to_csv("Datawarehouse/results.csv", index=False)

## qualifying

### qualifying 1

In [42]:
qualifying_split_1_df = pd.read_json("Datasets/Qualifying/qualifying_split_1.json")

In [43]:
qualifying_split_1_df.sample(5)

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
3929,3931,116,17,19,14,11,1:33.066,\N,\N
3509,3511,344,155,15,23,18,1:18.019,\N,\N
2353,2355,247,30,22,1,2,1:28.397,\N,\N
4100,4102,91,17,19,14,2,1:33.715,\N,\N
1564,1565,161,37,21,18,19,1:28.135,\N,\N

In [44]:
qualifying_split_1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      4999 non-null   int64
 1   raceId         4999 non-null   int64
 2   driverId       4999 non-null   int64
 3   constructorId  4999 non-null   int64
 4   number         4999 non-null   int64
 5   position       4999 non-null   int64
 6   q1             4999 non-null   object
 7   q2             4999 non-null   object
 8   q3             4999 non-null   object
dtypes: int64(6), object(3)
memory usage: 351.6+ KB

In [45]:
qualifying_split_1_df["q2"].replace("\\N", np.NaN, inplace=True)

In [46]:
qualifying_split_1_df["q3"].replace("\\N", np.NaN, inplace=True)

In [47]:
qualifying_split_1_df.sample(5)

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
2457,2459,251,49,15,30,10,1:26.541,NaN,NaN
4556,4558,841,816,166,25,22,1:30.822,NaN,NaN
4163,4165,94,22,6,2,5,1:16.272,NaN,NaN
3728,3730,353,5,205,19,21,1:41.768,NaN,NaN
2022,2023,216,75,20,15,17,1:44.112,NaN,NaN

### qualifying 2

In [48]:
qualifying_split_2_df = pd.read_json("Datasets/Qualifying/qualifying_split_2.json")

In [49]:
qualifying_split_2_df.sample(5)

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
3344,8367,1030,807,4,27,10,1:37.506,1:36.859,1:36.710
178,5180,869,4,6,5,1,1:16.073,1:38.521,1:40.621
3382,8405,1032,842,213,10,8,1:20.192,1:18.744,1:21.028
284,5286,873,8,208,9,12,1:48.169,1:48.261,\N
3407,8430,1033,839,4,31,14,1:15.719,1:15.742,\N

In [50]:
qualifying_split_2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3695 entries, 0 to 3694
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      3695 non-null   int64
 1   raceId         3695 non-null   int64
 2   driverId       3695 non-null   int64
 3   constructorId  3695 non-null   int64
 4   number         3695 non-null   int64
 5   position       3695 non-null   int64
 6   q1             3695 non-null   object
 7   q2             3695 non-null   object
 8   q3             3695 non-null   object
dtypes: int64(6), object(3)
memory usage: 259.9+ KB

In [51]:
qualifying_split_2_df["q2"].replace("\\N", np.NaN, inplace=True)

In [52]:
qualifying_split_2_df["q3"].replace("\\N", np.NaN, inplace=True)

In [53]:
qualifying_split_2_df.isnull().sum()

qualifyId           0
raceId              0
driverId            0
constructorId       0
number              0
position            0
q1                  0
q2                897
q3               1764
dtype: int64

In [54]:
qualifying_concat = pd.concat(
    [qualifying_split_1_df, qualifying_split_2_df], ignore_index=True
)

In [55]:
qualifying_concat

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236
...,...,...,...,...,...,...,...,...,...
8689,8730,1047,8,51,7,16,1:37.555,NaN,NaN
8690,8731,1047,825,210,20,17,1:37.863,NaN,NaN
8691,8732,1047,847,3,63,18,1:38.045,NaN,NaN
8692,8733,1047,850,210,51,19,1:38.173,NaN,NaN
8693,8734,1047,849,3,6,20,1:38.443,NaN,NaN

In [56]:
qualifying_concat.to_csv("Datawarehouse/qualifying.csv", index=False)

## lap_times_split

In [57]:
all_files = glob.glob("Datasets/lap_times/*.csv")
lap_times_df = pd.concat(
    (
        pd.read_csv(
            f,
            header=None,
            names=["raceId", "driverId", "lab", "position", "time", "milliseconds"],
        )
        for f in all_files
    )
)

In [58]:
lap_times_df.sample(5)

       raceId  driverId  lab  position      time  milliseconds
95555     929       829   15        18  1:45.957        105957
95878      63         2   69         8  1:19.842         79842
56781      14         6   28        10  1:52.426        112426
29228     208        49   70         9  1:21.034         81034
44738       3         2   54        10  2:02.170        122170

In [59]:
lap_times_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 490904 entries, 0 to 90904
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   raceId        490904 non-null  int64
 1   driverId      490904 non-null  int64
 2   lab           490904 non-null  int64
 3   position      490904 non-null  int64
 4   time          490904 non-null  object
 5   milliseconds  490904 non-null  int64
dtypes: int64(5), object(1)
memory usage: 26.2+ MB

In [60]:
lap_times_df.to_csv("Datawarehouse/lap_times.csv", index=False)

## Ingest data

In [70]:
conn = sqlite3.connect("sql_app.db")

In [71]:
circuit_df = pd.read_csv("Datawarehouse/circuits.csv")
circuit_df.to_sql("circuit", conn, if_exists="replace", index=False)

77

In [72]:
constructor_df = pd.read_csv("Datawarehouse/constructors.csv")
constructor_df.to_sql("constructor", conn, if_exists="replace", index=False)

211

In [73]:
driver_df = pd.read_csv("Datawarehouse/drivers.csv")
driver_df.to_sql("driver", conn, if_exists="replace", index=False)

853

In [74]:
pit_stop_df = pd.read_csv("Datawarehouse/pit_stops.csv")
pit_stop_df.to_sql("pitstop", conn, if_exists="replace", index=False)

8030

In [75]:
race_df = pd.read_csv("Datawarehouse/races.csv")
race_df.to_sql("race", conn, if_exists="replace", index=False)

1058

In [76]:
result_df = pd.read_csv("Datawarehouse/results.csv")
result_df.to_sql("result", conn, if_exists="replace", index=False)

24960

In [77]:
qualifying_df = pd.read_csv("Datawarehouse/qualifying.csv")
qualifying_df.to_sql("qualifying", conn, if_exists="replace", index=False)

8694

In [78]:
lab_time_df = pd.read_csv("Datawarehouse/lap_times.csv")
lab_time_df.to_sql("labtimessplit", conn, if_exists="replace", index=False)

490904