In [1]:
# Python black formater for notebook
%load_ext nb_black

# ETL
We are going to extract multiple data sources from the Dataset folder (csv & json), clean and transform those files into csv format to integrate and process into a Postgrestql database.

In [2]:
# Importing modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
import os
import glob
import sqlite3

## circuits.csv

In [3]:
circuits_df = pd.read_csv("Datasets/circuits.csv")

In [4]:
circuits_df.sample(10)

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
43,44,las_vegas,Las Vegas Street Circuit,Nevada,USA,36.1162,-115.17400,639,"http://en.wikipedia.org/wiki/Las_Vegas,_Nevada"
59,60,riverside,Riverside International Raceway,California,USA,33.9370,-117.27300,470,http://en.wikipedia.org/wiki/Riverside_Interna...
23,24,yas_marina,Yas Marina Circuit,Abu Dhabi,UAE,24.4672,54.60310,3,http://en.wikipedia.org/wiki/Yas_Marina_Circuit
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.0325,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
74,75,portimao,Autódromo Internacional do Algarve,Portimão,Portugal,37.2270,-8.62670,108,http://en.wikipedia.org/wiki/Algarve_Internati...
56,57,zeltweg,Zeltweg,Styria,Austria,47.2039,14.74780,676,http://en.wikipedia.org/wiki/Zeltweg_Airfield
7,8,magny_cours,Circuit de Nevers Magny-Cours,Magny Cours,France,46.8642,3.16361,228,http://en.wikipedia.org/wiki/Circuit_de_Nevers...
10,11,hungaroring,Hungaroring,Budapest,Hungary,47.5789,19.24860,264,http://en.wikipedia.org/wiki/Hungaroring
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.9517,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park
34,35,yeongam,Korean International Circuit,Yeongam County,Korea,34.7333,126.41700,0,http://en.wikipedia.org/wiki/Korean_Internatio...

In [5]:
circuits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     int64
 1   circuitRef  77 non-null     object
 2   name        77 non-null     object
 3   location    77 non-null     object
 4   country     77 non-null     object
 5   lat         77 non-null     float64
 6   lng         77 non-null     float64
 7   alt         77 non-null     int64
 8   url         77 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 5.5+ KB

In [6]:
circuits_df.isnull().sum()

circuitId     0
circuitRef    0
name          0
location      0
country       0
lat           0
lng           0
alt           0
url           0
dtype: int64

In [7]:
circuits_df.to_csv("Datawarehouse/circuits.csv", index=False)

## constructors.json

In [8]:
constructors_df = pd.read_json("Datasets/constructors.json", lines=True)

In [9]:
constructors_df.sample(10)

,constructorId,constructorRef,name,nationality,url
204,207,caterham,Caterham,Malaysian,http://en.wikipedia.org/wiki/Caterham_F1
129,131,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
166,169,cooper-borgward,Cooper-Borgward,British,http://en.wikipedia.org/wiki/Cooper_Car_Company
65,67,penske,Penske,American,http://en.wikipedia.org/wiki/Penske_Racing
56,58,shadow,Shadow,British,http://en.wikipedia.org/wiki/Shadow_Racing_Cars
190,193,cooper-ats,Cooper-ATS,British,http://en.wikipedia.org/wiki/Cooper_Car_Company
80,82,matra,Matra,French,http://en.wikipedia.org/wiki/Matra
23,24,stewart,Stewart,British,http://en.wikipedia.org/wiki/Stewart_Grand_Prix
79,81,tecno,Tecno,Italian,http://en.wikipedia.org/wiki/Tecno
30,31,simtek,Simtek,British,http://en.wikipedia.org/wiki/Simtek

In [10]:
constructors_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   constructorId   211 non-null    int64
 1   constructorRef  211 non-null    object
 2   name            211 non-null    object
 3   nationality     211 non-null    object
 4   url             211 non-null    object
dtypes: int64(1), object(4)
memory usage: 8.4+ KB

In [11]:
constructors_df.isnull().sum()

constructorId     0
constructorRef    0
name              0
nationality       0
url               0
dtype: int64

In [12]:
constructors_df.to_csv("Datawarehouse/constructors.csv", index=False)

## drivers.json

In [13]:
with open("Datasets/drivers.json") as json_file:
    drivers_data = [json.loads(line) for line in json_file]

drivers_df = pd.json_normalize(drivers_data, sep="_")

In [14]:
drivers_df["number"].replace("\\N", np.NaN, inplace=True)

In [15]:
drivers_df["code"].replace("\\N", np.NaN, inplace=True)

In [16]:
drivers_df.sample(10)

,driverId,driverRef,number,code,dob,nationality,url,name_forename,name_surname
107,108,belmondo,NaN,NaN,1963-04-23,French,http://en.wikipedia.org/wiki/Paul_Belmondo,Paul,Belmondo
402,403,phil_hill,NaN,NaN,1927-04-20,American,http://en.wikipedia.org/wiki/Phil_Hill,Phil,Hill
343,344,posey,NaN,NaN,1944-05-26,American,http://en.wikipedia.org/wiki/Sam_Posey,Sam,Posey
443,444,lippi,NaN,NaN,1926-10-17,Italian,http://en.wikipedia.org/wiki/Roberto_Lippi,Roberto,Lippi
448,449,ward,NaN,NaN,1921-01-10,American,http://en.wikipedia.org/wiki/Rodger_Ward,Rodger,Ward
288,289,hill,NaN,NaN,1929-02-15,British,http://en.wikipedia.org/wiki/Graham_Hill,Graham,Hill
654,654,faulkner,NaN,NaN,1920-02-16,American,http://en.wikipedia.org/wiki/Walt_Faulkner,Walt,Faulkner
771,771,walt_brown,NaN,NaN,1911-12-30,American,http://en.wikipedia.org/wiki/Walt_Brown_(auto_...,Walt,Brown
109,110,cesaris,NaN,NaN,1959-05-31,Italian,http://en.wikipedia.org/wiki/Andrea_de_Cesaris,Andrea,de Cesaris
252,253,hoffmann,NaN,NaN,1953-02-28,Brazilian,http://en.wikipedia.org/wiki/Ingo_Hoffmann,Ingo,Hoffmann

In [17]:
drivers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 853 entries, 0 to 852
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   driverId       853 non-null    int64
 1   driverRef      853 non-null    object
 2   number         47 non-null     float64
 3   code           96 non-null     object
 4   dob            853 non-null    object
 5   nationality    853 non-null    object
 6   url            853 non-null    object
 7   name_forename  853 non-null    object
 8   name_surname   853 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 60.1+ KB

In [18]:
drivers_df.isnull().sum()

driverId           0
driverRef          0
number           806
code             757
dob                0
nationality        0
url                0
name_forename      0
name_surname       0
dtype: int64

In [19]:
drivers_df.to_csv("Datawarehouse/drivers.csv", index=False)

## pit_stops.json

In [20]:
pit_stops_df = pd.read_json("Datasets/pit_stops.json")

In [21]:
pit_stops_df.sample(10)

      raceId  driverId  stop  lap      time duration  milliseconds
7014    1017       841     2   34  16:09:23   31.697         31697
2540     888       817     2   18  14:33:49   19.952         19952
4578     948       837     1   12  16:26:36   23.224         23224
4794     952       154     3   37  15:02:52   34.832         34832
5989     982       817     1    1  20:06:29   30.737         30737
5323     963       821     2   22  15:44:09   24.814         24814
2067     880       823     1    7  17:15:07   24.104         24104
1584     869       814     1   10  14:17:02   17.899         17899
2605     890         1     2   31  14:49:23   21.454         21454
1037     858       813     2   30  17:58:49   12.897         12897

In [22]:
pit_stops_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8030 entries, 0 to 8029
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceId        8030 non-null   int64
 1   driverId      8030 non-null   int64
 2   stop          8030 non-null   int64
 3   lap           8030 non-null   int64
 4   time          8030 non-null   object
 5   duration      8030 non-null   object
 6   milliseconds  8030 non-null   int64
dtypes: int64(5), object(2)
memory usage: 439.3+ KB

In [23]:
pit_stops_df["duration"] = pd.to_timedelta(
    pit_stops_df["milliseconds"],
    unit="ms",
)

In [24]:
pit_stops_df.sample(5)

,raceId,driverId,stop,lap,time,duration,milliseconds
5305,963,826,1,1,15:06:13,0 days 00:00:32.413000,32413
630,851,15,1,13,14:26:49,0 days 00:00:23.118000,23118
414,847,16,3,45,16:27:43,0 days 00:00:14.565000,14565
4463,943,18,2,47,14:11:04,0 days 00:00:23.018000,23018
6013,982,832,2,2,20:10:00,0 days 00:00:27.452000,27452

In [25]:
pit_stops_df.to_csv("Datawarehouse/pit_stops.csv", index=False)

## races.csv

In [26]:
races_df = pd.read_csv("Datasets/races.csv")

In [27]:
races_df.sample(5)

,raceId,year,round,circuitId,name,date,time,url
256,257,1994,1,18,Brazilian Grand Prix,1994-03-27,\N,http://en.wikipedia.org/wiki/1994_Brazilian_Gr...
130,131,2002,8,7,Canadian Grand Prix,2002-06-09,\N,http://en.wikipedia.org/wiki/2002_Canadian_Gra...
99,100,2004,11,9,British Grand Prix,2004-07-11,\N,http://en.wikipedia.org/wiki/2004_British_Gran...
323,324,1990,4,6,Monaco Grand Prix,1990-05-27,\N,http://en.wikipedia.org/wiki/1990_Monaco_Grand...
51,52,2007,17,18,Brazilian Grand Prix,2007-10-21,16:00:00,http://en.wikipedia.org/wiki/2007_Brazilian_Gr...

In [28]:
races_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058 entries, 0 to 1057
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   raceId     1058 non-null   int64
 1   year       1058 non-null   int64
 2   round      1058 non-null   int64
 3   circuitId  1058 non-null   int64
 4   name       1058 non-null   object
 5   date       1058 non-null   object
 6   time       1058 non-null   object
 7   url        1058 non-null   object
dtypes: int64(4), object(4)
memory usage: 66.2+ KB

In [29]:
races_df.isnull().sum()

raceId       0
year         0
round        0
circuitId    0
name         0
date         0
time         0
url          0
dtype: int64

In [30]:
races_df["time"].replace("\\N", np.NaN, inplace=True)

In [31]:
races_df.sample(5)

,raceId,year,round,circuitId,name,date,time,url
976,989,2018,1,1,Australian Grand Prix,2018-03-25,05:10:00,https://en.wikipedia.org/wiki/2018_Australian_...
510,511,1980,14,46,United States Grand Prix,1980-10-05,NaN,http://en.wikipedia.org/wiki/1980_United_State...
1047,1063,2021,12,13,Belgian Grand Prix,2021-08-29,13:00:00,http://en.wikipedia.org/wiki/2021_Belgian_Gran...
853,855,2011,15,22,Japanese Grand Prix,2011-10-09,06:00:00,http://en.wikipedia.org/wiki/2011_Japanese_Gra...
966,979,2017,11,11,Hungarian Grand Prix,2017-07-30,12:00:00,https://en.wikipedia.org/wiki/2017_Hungarian_G...

In [32]:
races_df.to_csv("Datawarehouse/races.csv", index=False)

## results.json

In [33]:
with open("Datasets/results.json") as json_file:
    results_data = [json.loads(line) for line in json_file]

results_df = pd.json_normalize(results_data)

In [34]:
results_df.sample(5)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
10145,10146,432,175,4,15,13,\N,R,17,0.0,24,\N,\N,\N,\N,\N,\N,6
24858,24864,1042,826,213,26,13,19,19,19,0.0,64,\N,\N,59,8,1:20.449,208.216,12
5167,5168,258,77,6,28,5,2,2,2,6.0,83,+1:15.300,6436993,\N,\N,\N,\N,1
19274,19275,801,670,105,28,4,\N,R,11,0.0,3,\N,\N,\N,\N,\N,\N,5
5784,5785,280,87,27,26,4,\N,R,21,0.0,20,\N,\N,\N,\N,\N,\N,20

In [35]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24960 entries, 0 to 24959
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         24960 non-null  int64
 1   raceId           24960 non-null  int64
 2   driverId         24960 non-null  int64
 3   constructorId    24960 non-null  int64
 4   number           24960 non-null  object
 5   grid             24960 non-null  int64
 6   position         24960 non-null  object
 7   positionText     24960 non-null  object
 8   positionOrder    24960 non-null  int64
 9   points           24960 non-null  float64
 10  laps             24960 non-null  int64
 11  time             24960 non-null  object
 12  milliseconds     24960 non-null  object
 13  fastestLap       24960 non-null  object
 14  rank             24960 non-null  object
 15  fastestLapTime   24960 non-null  object
 16  fastestLapSpeed  24960 non-null  object
 17  statusId         24960 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.4+ MB

In [36]:
results_df[:].replace("\\N", np.NaN, inplace=True)

In [37]:
results_df.sample(5)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
11173,11174,470,203,6,27,3,2,2,2,6.0,60,+0.366,5799253,NaN,NaN,NaN,NaN,1
3736,3737,194,64,21,16,18,NaN,R,16,0.0,18,NaN,NaN,NaN,NaN,NaN,NaN,5
17944,17945,742,403,6,2,1,2,2,2,6.0,75,+46.0,9699600,NaN,NaN,NaN,NaN,1
15563,15564,629,223,6,5,4,NaN,R,20,0.0,16,NaN,NaN,NaN,NaN,NaN,NaN,4
12629,12630,521,235,27,25,14,NaN,R,17,0.0,24,NaN,NaN,NaN,NaN,NaN,NaN,27

In [38]:
results_df.isnull().sum()

resultId               0
raceId                 0
driverId               0
constructorId          0
number                 6
grid                   0
position           10735
positionText           0
positionOrder          0
points                 0
laps                   0
time               18368
milliseconds       18369
fastestLap         18410
rank               18249
fastestLapTime     18410
fastestLapSpeed    18410
statusId               0
dtype: int64

In [39]:
results_df.to_csv("Datawarehouse/results.csv", index=False)

## qualifying

### qualifying 1

In [40]:
qualifying_split_1_df = pd.read_json("Datasets/Qualifying/qualifying_split_1.json")

In [41]:
qualifying_split_1_df.sample(5)

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
4747,4750,849,24,164,23,23,1:37.484,\N,\N
1522,1523,158,18,3,10,21,1:33.828,\N,\N
4188,4190,95,31,3,3,10,1:15.039,\N,\N
177,178,26,9,2,4,10,1:20.444,1:19.788,\N
1288,1289,84,22,6,2,11,1:29.369,\N,\N

In [42]:
qualifying_split_1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      4999 non-null   int64
 1   raceId         4999 non-null   int64
 2   driverId       4999 non-null   int64
 3   constructorId  4999 non-null   int64
 4   number         4999 non-null   int64
 5   position       4999 non-null   int64
 6   q1             4999 non-null   object
 7   q2             4999 non-null   object
 8   q3             4999 non-null   object
dtypes: int64(6), object(3)
memory usage: 351.6+ KB

In [43]:
qualifying_split_1_df["q2"].replace("\\N", np.NaN, inplace=True)

In [44]:
qualifying_split_1_df["q3"].replace("\\N", np.NaN, inplace=True)

In [45]:
qualifying_split_1_df.sample(5)

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
4844,4847,855,20,9,1,1,1:33.051,1:31.424,1:30.466
3515,3517,344,812,164,20,24,1:27.757,NaN,NaN
317,318,33,7,5,14,10,1:18.593,1:18.102,1:20.167
3688,3690,352,4,6,8,5,1:32.555,1:31.819,1:31.352
1885,1886,210,78,15,17,12,1:25.554,NaN,NaN

### qualifying 2

In [46]:
qualifying_split_2_df = pd.read_json("Datasets/Qualifying/qualifying_split_2.json")

In [47]:
qualifying_split_2_df.sample(5)

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
3069,8092,1016,154,210,8,15,1:12.109,\N,\N
2075,7097,967,3,131,6,2,1:11.815,1:11.373,1:10.838
123,5125,866,813,3,18,17,1:14.979,1:15.231,\N
76,5078,864,13,6,6,17,1:23.886,1:23.444,\N
653,5655,890,822,3,17,16,1:21.135,1:21.219,\N

In [48]:
qualifying_split_2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3695 entries, 0 to 3694
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      3695 non-null   int64
 1   raceId         3695 non-null   int64
 2   driverId       3695 non-null   int64
 3   constructorId  3695 non-null   int64
 4   number         3695 non-null   int64
 5   position       3695 non-null   int64
 6   q1             3695 non-null   object
 7   q2             3695 non-null   object
 8   q3             3695 non-null   object
dtypes: int64(6), object(3)
memory usage: 259.9+ KB

In [49]:
qualifying_split_2_df["q2"].replace("\\N", np.NaN, inplace=True)

In [50]:
qualifying_split_2_df["q3"].replace("\\N", np.NaN, inplace=True)

In [51]:
qualifying_split_2_df.isnull().sum()

qualifyId           0
raceId              0
driverId            0
constructorId       0
number              0
position            0
q1                  0
q2                897
q3               1764
dtype: int64

In [52]:
qualifying_concat = pd.concat(
    [qualifying_split_1_df, qualifying_split_2_df], ignore_index=True
)

In [53]:
qualifying_concat

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236
...,...,...,...,...,...,...,...,...,...
8689,8730,1047,8,51,7,16,1:37.555,NaN,NaN
8690,8731,1047,825,210,20,17,1:37.863,NaN,NaN
8691,8732,1047,847,3,63,18,1:38.045,NaN,NaN
8692,8733,1047,850,210,51,19,1:38.173,NaN,NaN
8693,8734,1047,849,3,6,20,1:38.443,NaN,NaN

In [54]:
qualifying_concat.to_csv("Datawarehouse/qualifying.csv", index=False)

## lap_times_split

In [55]:
all_files = glob.glob("Datasets/lap_times/*.csv")
lap_times_df = pd.concat(
    (
        pd.read_csv(
            f,
            header=None,
            names=["raceId", "driverId", "lab", "position", "time", "milliseconds"],
        )
        for f in all_files
    )
)

In [56]:
lap_times_df.sample(5)

       raceId  driverId  lab  position      time  milliseconds
54273    1015         1    8         1  1:16.298         76298
64460    1023       846   17        12  1:26.102         86102
39273     218        71   34        14  2:00.458        120458
33850     995       825   55        13  1:15.712         75712
91558     918       815   36         5  1:48.410        108410

In [57]:
lap_times_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 490904 entries, 0 to 90904
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   raceId        490904 non-null  int64
 1   driverId      490904 non-null  int64
 2   lab           490904 non-null  int64
 3   position      490904 non-null  int64
 4   time          490904 non-null  object
 5   milliseconds  490904 non-null  int64
dtypes: int64(5), object(1)
memory usage: 26.2+ MB

In [58]:
lap_times_df.to_csv("Datawarehouse/lap_times.csv", index=False)

## Ingest data

In [107]:
conn = sqlite3.connect("sql_appp.db")

In [99]:
circuit_df = pd.read_csv("Datawarehouse/circuits.csv")
circuit_df.to_sql("circuit", conn, if_exists="replace", index=False)

77

In [100]:
constructor_df = pd.read_csv("Datawarehouse/constructors.csv")
constructor_df.to_sql("constructor", conn, if_exists="replace", index=False)

211

In [101]:
driver_df = pd.read_csv("Datawarehouse/drivers.csv")
driver_df.to_sql("driver", conn, if_exists="replace", index=False)

853

In [102]:
pit_stop_df = pd.read_csv("Datawarehouse/pit_stops.csv")
pit_stop_df.to_sql("pitstop", conn, if_exists="replace", index=False)

8030

In [103]:
race_df = pd.read_csv("Datawarehouse/races.csv")
race_df.to_sql("race", conn, if_exists="replace", index=False)

1058

In [104]:
result_df = pd.read_csv("Datawarehouse/results.csv")
result_df.to_sql("result", conn, if_exists="replace", index=False)

24960

In [105]:
qualifying_df = pd.read_csv("Datawarehouse/qualifying.csv")
qualifying_df.to_sql("qualifying", conn, if_exists="replace", index=False)

8694

In [106]:
lab_time_df = pd.read_csv("Datawarehouse/lap_times.csv")
lab_time_df.to_sql("labtimessplit", conn, if_exists="replace", index=False)

490904

In [97]:
result_df.sample(5)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
10343,10344,440,110,27,26.0,26,10.0,10,10,0.0,77,NaN,NaN,NaN,NaN,NaN,NaN,12
6471,6472,304,129,25,3.0,13,NaN,R,26,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,3
9445,9446,405,173,34,8.0,15,NaN,R,14,0.0,29,NaN,NaN,NaN,NaN,NaN,NaN,6
13068,13069,536,245,1,40.0,0,NaN,F,30,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,81
21147,21150,856,155,15,16.0,14,15.0,15,15,0.0,54,NaN,NaN,45.0,11.0,1:42.080,198.021,11

In [69]:
result_df.groupby("driverId")["points"].sum()

driverId
1      3778.0
2       259.0
3      1594.5
4      1899.0
5       105.0
        ...
847       3.0
848     197.0
849       0.0
850       0.0
851       0.0
Name: points, Length: 850, dtype: float64